<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated prometheus_metamodel_system_specification -->
      <package
            uri="http://www.eclipse.org/sirius/prometheus_metamodel_system_specification"
            class="prometheus_metamodel_system_specification.Prometheus_metamodel_system_specificationPackage"
            genModel="model/prometheus_metamodel_system_specification.genmodel"/>
   </extension>

</plugin>
